<aside class="sidebar h-100">
    <div class="sidebar-logo">
        Fleet<span>Pro</span>
    </div>

    <nav class="sidebar-nav">
        <a routerLink="/dashboard" routerLinkActive="active">
            <mat-icon>dashboard</mat-icon>
            Dashboard
        </a>

        @if(isAdmin){
        <a routerLink="/tenant" routerLinkActive="active">
            <mat-icon>person_4</mat-icon>
            Tenant Company
        </a>
        }

        @if(isAdmin || isCompanyOwner){
        <a routerLink="/users" routerLinkActive="active">
            <mat-icon>person_4</mat-icon>
            Users
        </a>
        }

        @if(isAdmin || isCompanyOwner || isDispatcher){
        <a routerLink="/vehicles" routerLinkActive="active">
            <mat-icon>local_shipping</mat-icon>
            Vehicles
        </a>

        <a routerLink="/drivers" routerLinkActive="active">
            <mat-icon>badge</mat-icon>
            Drivers
        </a>

        <a routerLink="/dispatcher" routerLinkActive="active">
            <mat-icon>badge</mat-icon>
            dispatcher
        </a>

        <a routerLink="/trips" routerLinkActive="active">
            <mat-icon>route</mat-icon>
            Trips
        </a>
        }

        <a routerLink="/reports" routerLinkActive="active">
            <mat-icon>analytics</mat-icon>
            Reports
        </a>

        @if(isAdmin){
        <a routerLink="/management" routerLinkActive="active">
            <mat-icon>analytics</mat-icon>
            Management
        </a>
        }
    </nav>
</aside>