// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use "@angular/material" as mat;

/* Importing Bootstrap SCSS file. */
@use "bootstrap/scss/bootstrap";

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

:root {
  @include mat.dialog-overrides(
    (
      container-color: rgb(255, 255, 255),
      subhead-color: rgb(15, 62, 105),
    )
  );
}

.mat-datepicker-content {
  background: #eeeeee !important;
  border-radius: 12px;
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.15);
  padding: 12px;
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.form-group {
  margin-bottom: 2px;
}
.mat-mdc-form-field-error {
  color: red !important;
}

.mat-mdc-form-field {
  width: -webkit-fill-available;
  --mdc-outlined-text-field-outline-color: #d0d5dd;
  --mdc-outlined-text-field-focus-outline-color: #2563eb;
  --mdc-outlined-text-field-label-text-color: #667085;
  --mdc-outlined-text-field-input-text-color: #111827;
}

/*********** SnackBar  *************/
.success-snackbar {
  background-color: rgb(89, 189, 89);
  color: white;
}

.error-snackbar {
  background: #f5736a;
  color: white;
}

.info-snackbar {
  background-color: #6f9bfc;
  color: white;
}

.cdk-overlay-pane .mat-mdc-select-panel {
  background-color: #ffffff !important;
}
